# Dependencies
/node_modules

# Database files
/src/*.sqlite
/src/database.sqlite
/src/test-database.sqlite
/src/production-database.sqlite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# tmp files
/tmp

# Misc
.DS_Store
.env
